.product-display{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px 170px;
    margin-right: 56px;
}
.product-display-left{
    display: flex;
    gap: 17px;
}
.product-display-img-list{
    display: flex;
    flex-direction: column;
    gap:16px ;
}
.product-display-img-list img{
    margin-top: 63px;
    height: 123px;
}
.product-display-main-img{
    margin-top: 60px;
    width: 450px;
    height: 500px;
}
.product-display-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.product-display-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.product-display-right-star{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    gap:5px;
    color: #1c1c1c;
    font-size:16px ;
}
.product-display-right-star img{
    width: 24px;
}
.product-display-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.product-display-right-size h1{
    margin-top: 5px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.product-display-right-size{
    display:flex;
    margin:30px 0px 15px 2px;
    gap: 20px;
}
.product-display-right-size div{
    padding: 1px 2px;
    background: #fdfdfd;
    border: 3px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.product-display-right button{
    border:none;
    padding: 7px 7px ;
    font-size: 15px;
    border-radius :5px;
    background-color: #194064;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;

    padding: 15px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: hwb(310 22% 59%);
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.product-display-right-category{
    margin-top: 10px;
}
.product-display-right-category span{
    font-weight: 600;
}
/*
.product-review .button-add{
    border:none;
    padding: 7px 7px ;
    font-size: 15px;
    border-radius :5px;
    background-color: #194064;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

}
.product-review .button-add:hover{
    background-color: #31567a;
}
.product-review-form{
    position: absolute;
    background-color: rgb(0,0,0,0.08);
    left: 0;
    right: 0;
    bottom: 1%;
    top: 110%;
    padding: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}
.product-review-form form{
    width: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 40px; 
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.product-review-form label{
    font-size: 18px;
}
.product-review-form form input{
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;

}
.product-review-form form button{
    background-color: rosybrown;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    width: 100px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
   padding: 5px 10px;
}
.product-review-form form .product-review-close{
    margin-left: auto;
    cursor:pointer;
    font-size: 18px;
    width: 20px;
    height: 20px;
    background-color: #eee9e9;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border :1.5px solid;
}
.product-review-view{
    margin-top: 30px;
}
.product-review-view table{
    border : 1px solid #3d3d3d;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 8px;
}
.product-review-view table thead tr {
    background-color:#bac7d4;  
    
}
.product-review-view table thead tr th
{  min-width: 160px;
    padding: 5px;   
}
.product-review-view table tbody tr td{
    min-width: 160px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #3d3d3d;
}
.edit-review,
.delete-review{
    margin:0px 5px;
}*/